.open-sans-regular-13 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.open-sans-regular-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.open-sans-regular-15 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.open-sans-regular-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.open-sans-bold-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.open-sans-bold-12 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.open-sans-bold-13 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.open-sans-bold-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.open-sans-bold-24 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.open-sans-bold-26 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.open-sans-semi-bold-12 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.open-sans-semi-bold-13 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.open-sans-semi-bold-14 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.flex-row {
  display: flex;
}
.justify-center {
  display: flex;
  justify-content: center !important;
}
